<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bloggy</title>

  <meta name="description" content="Blog hecho con Django">
  <meta name="author" content="Gabriel Longás">

  <link rel="stylesheet" href="static/main.css">
</head>
<body>
  <div class="wrapper">
    <h1><a href="/blog">Bloggy</a></h1>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>