{% extends 'base.html' %}

{% block content %}
  {% if latest_posts %}
  <ul>
    {% for post in latest_posts %}
    <li>
      <h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
      <p><em>{{ post.created_at }}</em></p>
      <p>{{ post.content }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}